@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');

*{
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: 'Rajdhani', sans-serif;
}


a:focus {
	outline: none !important;
}

input {
	outline: none;
	border: none;
}

 
/*-------------------Configurações da pagina inicial--------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

/* Posicionamento caixa */

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;  
}

.wrap-login100 {
  width: 390px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}


/*------------------------------------------------------------------

/*Tamanho da caixa do login*/
.login100-form {
  width: 100%;
}

.login100-form-title {
  display: block;
  font-family: 'Rajdhani', sans-serif;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 35px;
}
.login100-form-title i {
  font-size: 60px;
}

/*------------------------------------------------------------------
[ Input ]*/
/*espaçamento entre o inputs*/
.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

/*caixa inputs entre o inputs*/
.input100 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

/*---------------------------------------------*/ 

/*Clicavel em qualquer lugar do input*/
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}
/*Efeito gradiente na linha de baixo dos inputs*/
.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #118ab2;
  background: -webkit-linear-gradient(left, #118ab2, #ef476f);
  background: -o-linear-gradient(left, #118ab2, #ef476f);
  background: -moz-linear-gradient(left, #118ab2, #ef476f);
  background: linear-gradient(left, #118ab2, #ef476f);
}
/*Nome no Placerholder*/
.focus-input100::after {
  font-family: 'Rajdhani', sans-serif;
  font-size: 20px;
  color: #999999;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: -16px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/*Efeito subir a palavras no plaecerholder*/
.input100:focus + .focus-input100::after {
   
  top: -16px;
       
}

/*Efeito gradiente linha*/
.input100:focus + .focus-input100::before {
  width: 100%;  
}

/*Tamanho do container*/
.container-login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

/*Botão de Login*/
.wrap-login100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 35px auto;
}
/*Efeito gradiente no botão*/
.login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #ef476f;
  background: -webkit-linear-gradient(right, #118ab2, #ef476f);
  background: -o-linear-gradient(right, #118ab2, #ef476f);
  background: -moz-linear-gradient(right,  #118ab2, #ef476f);
  background: linear-gradient(right,  #118ab2, #ef476f);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
/*Formarações do botão de login(tamanho, cetralização da palavra e etc.*/
.login100-form-btn {
  font-family: 'Rajdhani', sans-serif;
  font-size: 27px;
  color: #000;
  opacity: 0.6;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}
/*Efeito de movimentação no gradiente*/
.wrap-login100-form-btn:hover .login100-form-bgbtn {
  left: 0;
}

.here{
  color: #118ab2;
  text-decoration: none; 
 
}

.here:hover{
  text-decoration: none;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  color: #ef476f;  
}

.forgot{
  margin-left: 42px;
}

.color_back {
  background: #ef476f;
  background: -webkit-linear-gradient(right, #118ab2, #ef476f);
  background: -o-linear-gradient(right, #118ab2, #ef476f);
  background: -moz-linear-gradient(right,  #118ab2, #ef476f);
  background: linear-gradient(right,  #118ab2, #ef476f);
}

.imagem{
 
 text-align: center;
}

.tabela{
  border: 1px solid red;
  
}